body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Manrope', sans-serif !important;
}
button{
	outline:0;
	outline:none;
}
p{
    font-size: 16px;
    color: #6c757d;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
}




