<navbar-ui></navbar-ui>
<router-outlet></router-outlet>
<footer-ui></footer-ui>

<!-- modals -->

<!-- login modal -->
<login-ui id="custom-modal-12">
    <button (click)="closeModal('custom-modal-12');">Close</button>
</login-ui>

<!-- signup modal -->
<signup-ui id="custom-modal-13">
    <button (click)="closeModal('custom-modal-13');">Close</button>
</signup-ui>

<!-- forgot password modal -->
<forgot-ui id="custom-modal-14">
    <button (click)="closeModal('custom-modal-14');">Close</button>
</forgot-ui>