<marquee behavior="scroll" direction="left" scrollamount="3" onmouseover="this.stop();" onmouseout="this.start();">
    <h6 class="mb-0 text-center p-2 text-muted"> The MAK.today safety standard helps foster a safe environment for
        both our customers and our hardworking professionals. <a style="cursor: pointer; color: #7490c7;">Learn
            more.</a></h6>
</marquee>
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align_items_center">
            <div class="col-sm-12 col-md-6 col-lg-5 site-blocks-cover">
                <h1 class="my-4 text-white wid-75">Your simplicity of <br> daily life</h1>
                <h6 class="sub-text text-white mb-4 wid-75" style="font-size: 1rem;"> MAK.today will help
                    you to find services for <br> your home and business by bringing you <br> trusted and
                    high-rated
                    maids. And more! </h6>
                <p class="m-0"><button class="btn btn-blue mt-2 mb-4 btn-lg rounded-pill text-white" type="button">Book
                        Now</button></p>
                <p class="text-white wid-50">Download our FREE and super transparent multi-agency <br> App.
                </p>
                <div class="accordion" id="accordionExample">
                    <p></p>
                    <ul class="dw-buttons">
                        <li class="my-1">
                            <a class="" href="https://play.google.com/store/apps/details?id=com.maktoday"
                                target="_blank"><img src="../../assets/landing-imgs/android-app.svg">
                            </a>
                        </li>
                        <li class="my-1">
                            <a class="" href="https://itunes.apple.com/us/app/maktoday/id1403404236?ls=1&amp;mt=8"
                                target="_blank"><img src="../../assets/landing-imgs/newapp.svg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="site-block">
    <div class="container">
        <div class="row align-items-top">
            <div class="col-lg-4">
                <a href="" class="site-block-fit round d-flex p-4 border-rght">
                    <div class="mr-3">
                        <span class="font-weight-light h2">
                            <img src="../../assets/landing-imgs/icon4.png" alt="img" class="img-fluid">
                        </span>
                    </div>
                    <div class="text">
                        <p> Opening hours<br> Sat - Thu : 09:00 AM - 06:00 PM </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="" class="site-block-fit round d-flex p-4 border-rght">
                    <div class="mr-3">
                        <span class="font-weight-light h2">
                            <img src="../../assets/landing-imgs/icon6.png" alt="img" class="img-fluid">
                        </span>
                    </div>
                    <div class="text">
                        <p> Where you can find us<br> Road 1805, Block 318,<br> Manama/Alhoora </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="" class="site-block-fit round d-flex p-4">
                    <div class="mr-3">
                        <span class="font-weight-light h2">
                            <img src="../../assets/landing-imgs/icon5.png" alt="img" class="img-fluid">
                        </span>
                    </div>
                    <div class="text">
                        <p>Get in touch<br> (+973 17006481 / +973 17006491) </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>