<footer class="site-footer" style="padding: 2em 0 0;">
    <div class="container footer-margin">
        <div class="row ms-5">
            <div class="col-lg-3 mb-lg-0">
                <div class="">
                    <h3 class="footer-heading-head  mg-top"> Quick Links </h3>
                    <div class="block-25">
                        <ul class="list-unstyled">
                            <li class="footer-heading"><a routerlink="/terms_and_conditions"
                                    href="/terms_and_conditions">Terms &amp;
                                    Conditions</a></li>
                            <li class="footer-heading"><a routerlink="/FAQ" href="/FAQ">FAQ's</a></li>
                            <li class="footer-heading "><a routerlink="/privacy_policy" href="/privacy_policy">Privacy
                                    Policy</a></li>
                            <li class="footer-heading "><a routerlink="/housemaid-cleaner-jobs-bahrain"
                                    href="/housemaid-cleaner-jobs-bahrain">Register as Maid</a></li>
                            <li class="footer-heading "><a href="http://35.160.43.15/MAK/AgencyPanel/#/login"
                                    target="_blank"> Login as
                                    Agency</a></li>
                            <li class="footer-heading "><a href="http://35.160.43.15//MAK/AdminPanel/#/login"
                                    target="_blank"> Login as
                                    Admin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="">
                    <h3 class="footer-heading-head  mg-top">Our Services</h3>
                    <div class="block-25">
                        <ul class="list-unstyled">
                            <li class="footer-heading"><a routerlink="/housemaid-services-bahrain"
                                    href="/housemaid-services-bahrain">Housemaids Services Bahrain</a></li>
                            <li class="footer-heading"><a routerlink="/maid-cleaning-services-companies-bahrain"
                                    href="/maid-cleaning-services-companies-bahrain">Office Cleaning Maids
                                    Bahrain</a></li>
                            <li class="footer-heading "><a routerlink="/housemaid-services-bahrain"
                                    href="/housemaid-services-bahrain">Book
                                    multiple maids at once</a></li>
                            <li class="footer-heading "><a routerlink="/maid-cleaning-services-companies-bahrain"
                                    href="/maid-cleaning-services-companies-bahrain">Before and After Party Cleaning
                                    Maids</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-1">
                    <h3 class="footer-heading-head  mg-top mobile-view"> &nbsp;</h3>
                    <div class="block-25">
                        <ul class="list-unstyled">
                            <li class="footer-heading"><a routerlink="/maid-cleaning-services-companies-bahrain"
                                    href="/maid-cleaning-services-companies-bahrain">Move-in Move-out Cleaning
                                    Bahrain</a></li>
                            <li class="footer-heading"><a routerlink="/hire-nanny-babysitter-bahrain"
                                    href="/hire-nanny-babysitter-bahrain">Babysitting Services Bahrain</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-5">
                    <h3 class="footer-heading-head  mg-top">Follow Us</h3>
                    <div class="block-25">
                        <ul class="list-unstyled">
                            <li class="footer-heading">
                                <a href="https://www.facebook.com/MAKTodaybh/" target="_blank" class="ps-0 pe-2">
                                    <img class="facebook" src="../../../../../assets/landing-imgs/facebook_circle.svg"
                                        alt="facebbok" width="40">
                                </a>
                                <a href="https://www.youtube.com/channel/UCwhuQQjbdbrf8ha1ld9dnig" target="_blank"
                                    class="ps-3 pe-2" style="font-size: 20px;">
                                    <img class="youtube" src="../../../../../assets/landing-imgs/youtube_circle.svg"
                                        alt="youtube" width="40">
                                </a>
                                <a href="https://www.instagram.com/mak.today/" target="_blank" class="ps-3 pe-2"
                                    style="font-size: 20px;">
                                    <img class="instagram" src="../../../../../assets/landing-imgs/instagram_circle.svg"
                                        alt="instagram" width="40"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center text-white"> © 2018. MAK. ALL RIGHTS RESERVED.<br> MAK.today is a
                            product of M.A.K. Online services Bahrain WLL
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>